#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
}
#shoptitle {
  text-align: right;
}

#instructions{
  margin-top: 720px;
  text-align: left;
  font-family: monospace, lucida-console;
  color: #006666;
  width: 750px;
  font-size: 30px
  
}