#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #ffffff;
  margin-top: 60px;
}
#shoptitle {
  text-align: right;
  background: transparent;
}

#instructions{
  margin-top: 720px;
  text-align: left;
  font-family: monospace, lucida-console;
  color: #006666;
  width: 750px;
  font-size: 30px;
  background: white;
  opacity: 45%
  
}

html{
 background: linear-gradient(140deg, rgba(174,174,177,1) 0%, rgba(29,29,29,1) 51%, rgba(167,36,36,1) 100%);


}